<ion-content [fullscreen]="true">
  <div class="form-input ion-margin-top ion-margin-start">
    <ion-input labelPlacement="floating" label="Rechercher..." type="search"></ion-input>
  </div>

  <ion-list>
    <ion-item (click)="global.navigate('fr/messagerie/contact')">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <span>Nom de l'interlocuteur</span><br />
        <span class="grey">Nom de l'entreprise</span><br />
        <span class="grey">Vu il y a XX minutes</span>
      </ion-label>
    </ion-item>

    <ion-item class="not-read" (click)="global.navigate('fr/messagerie/contact')">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <span>Nom de l'interlocuteur</span><br />
        <span class="grey">Nom de l'entreprise</span><br />
        <span class="grey">Vu il y a XX minutes</span>
      </ion-label>
      <ion-icon slot="end" name="ellipse" class="point" size="small"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
