ion-input {
    --border-color: rgba(0, 0, 0, 0);
}

ion-list {
    padding: 0 0 20px;
    ion-item {
        --padding-bottom: 15px;
        --padding-top: 15px;
        --padding-start: 15px;
        --padding-end: 15px;
        --border-style: none;
        font-size: .95em;

        &.not-read {
            font-weight: bold;
            --background: #F3F8FE;
        }
    }
}

span.grey {
    color: #595959;
}

ion-thumbnail {
    --border-radius: 3rem;
}