<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- Thumbnail -->
    <ion-row class="infos-profile ion-padding-top">
      <ion-col size="12">
        <ion-thumbnail>
          <ion-img
            alt="Silhouette of mountains"
            src="https://img.freepik.com/photos-gratuite/portrait-jeune-etudiant-souriant_23-2148586534.jpg?t=st=1731748530~exp=1731752130~hmac=48f9f28903a4c61f692617dac28542f4e1bb40f6f87fdd4dc43bc44f61a1ea56&"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label class="ion-text-center">
            <strong>Nom prénom</strong><br />
            <span>Information que vous souhaiter mettre en avant</span>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Main numbers -->
    <ion-row class="main-data ion-padding-horizontal">
      <ion-col>
        <strong>139</strong>
        <span>Messages</span>
      </ion-col>
      <ion-col>
        <strong>495</strong>
        <span>Likes</span>
      </ion-col>
      <ion-col>
        <strong>156</strong>
        <span>Sauvegardes</span>
      </ion-col>
    </ion-row>

    <ion-row class="tabs-btn ion-margin">
      <ion-col size="6" (click)="goToSlide(0)" [ngClass]="{'active': activeSlideIndex === 0}">
        <ion-icon src="../../../assets/icon/skills-grid.svg"></ion-icon>
      </ion-col>
      <ion-col size="6" (click)="goToSlide(1)" [ngClass]="{'active': activeSlideIndex === 1}">
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Buttons -->
    <ion-row class="buttons ion-margin">
      <ion-col size="6">
        <ion-button shape="round" class="dark" expand="block"
          >Contacter</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button shape="round" class="dark" expand="block"
          >Partager le profil</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col id="tab-1" class="tab active" size="12">
        <swiper-container #swiperRef slides-per-view="1" space-between="0">
          <swiper-slide>
            <app-tab-1></app-tab-1>
          </swiper-slide>
          <swiper-slide>
            <app-tab-2></app-tab-2>
          </swiper-slide>
          <swiper-slide>
            <app-tab-3></app-tab-3>
          </swiper-slide>
          <swiper-slide>
            <app-tab-4></app-tab-4>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
