<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Options de la vidéo (skill)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-padding-end">
    <ion-item>
      <ion-select label="Pour quel secteur tu postules ?" placeholder="Secteur" label-placement="stacked">
        <ion-select-option value=""></ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Quel est ton niveau ?" placeholder="Niveau de la question" label-placement="stacked">
        <ion-select-option value=""></ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ol class="ion-padding-end">
    <li>Dans la page qui va suivre, on va te poser une question qui sera determinée par le secteur et le niveau que tu as choisi.</li>
    <li>Enregistre ta réponse dans une vidéo de 1:30 min. </li>
    <li>Reste naturel, tu peux le faire en intérieur comme en extérieur, le but est de montrer ta personnalité et ta singularité.</li>
  </ol>

  <ion-item class="btn-container ion-justify-content-center">
    <ion-button shape="round" size="default">Sauvegarder</ion-button>
  </ion-item>
  
</ion-content>
