ion-item {
    --padding-bottom: 1rem;

    &.btn-container {
        --border-style: none;
        --border-width: 0px;
        --padding-top: 1rem;
        width: fit-content;
        margin: auto;
    }

    &.title {
        --border-width: 0px;
    }
}

ion-select, ion-input {
    --padding-start: 1rem;
    --padding-end: 1rem;

    border: 1px solid #C2C8D0;
    border-radius: .5rem;
    margin-bottom: 1rem;

    &:not(.ion-no-margin) {
        margin-bottom: 2rem;
    }

    &::part(label) {
        font-weight: bold;
    }
}

ion-toggle {
    --track-background-checked: #43B356;
}

.custom-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.sector {
    &--main {
        font-weight: bold;
    }
}

.subdomain {
    padding: 0;
}

ion-img {
    width: 192px;
    height: auto;
    margin: 70px auto 0;
}