<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button (click)="global.navigate('fr')">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="global.navigate('fr/entreprises')">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="global.navigate('fr/contact')">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="global.navigate('fr/profile')">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>