ion-tab-bar {
  --ion-text-color: #000000;
  --ion-background-color: #ffffff;
      
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);

  &.dark-mode {
      --ion-background-color: #000000;
      --ion-text-color: #ffffff;
  }  
}
