ion-tab-bar {
  --ion-text-color: #000000;
  --ion-background-color: #ffffff;
      
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);

  &.dark {
    --ion-text-color: #ffffff;
    --ion-background-color: #000000;
  }
}

.not-active {
  opacity: .6;
}