<ion-tabs>
  <ion-tab-bar *ngIf="!global.isNavHidden" [class]="toggleDarkMode() ? 'dark-mode' : ''">
    <ion-tab-button (click)="global.navigate('fr')">
      <ion-icon name="home-outline" *ngIf="!isActiveRoute('/fr')"></ion-icon>
      <ion-icon name="home-sharp" *ngIf="isActiveRoute('/fr')"></ion-icon>
    </ion-tab-button>
    <ion-tab-button disabled="true">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button disabled="true">
      <ion-icon name="options-outline" *ngIf="!isActiveRoute('/fr/entreprises')"></ion-icon>
      <ion-icon name="options-sharp" *ngIf="isActiveRoute('/fr/entreprises')"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="global.navigate('fr/messagerie')">
      <ion-icon name="chatbox-ellipses-outline" *ngIf="!isActiveRoute('/fr/messagerie')"></ion-icon>
      <ion-icon name="chatbox-ellipses-sharp" *ngIf="isActiveRoute('/fr/messagerie')"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="global.navigate('fr/profile')">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>