<ion-tabs>
  
  <ion-tab-bar>
    <ion-tab-button (click)="global.navigate('fr')">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="global.navigate('fr/entreprises')">
      <ion-icon name="options"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="global.navigate('fr/messagerie')">
      <ion-icon name="chatbox-ellipses-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="global.navigate('fr/profile')">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>