<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Voici ta question pour ta vidéo (skill)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none" class="ion-padding-bottom ion-margin-bottom">
    <ion-item>
      <strong>Secteur :&nbsp;</strong>Finance
    </ion-item>
    <ion-item>
      <strong>Niveau :&nbsp;</strong>Expert
    </ion-item>
  </ion-list>

  <ion-button size="default" expand="block" class="ion-margin-start ion-margin-end">Pouvez-vous me dérouler le compte de résultat ?</ion-button>

  <ol class="ion-padding-end ion-margin-top">
    <li>Tu dois maintenant quitter l’application pour tourner ta réponse en vidéo</li>
    <li>Ne ferme pas l’application en arrière plan</li>
    <li>Une fois cela fait, clique sur “J’ai compris”</li>
    <li>Upload ta vidéo et c’est tout bon !</li>
  </ol>

  <ion-item class="btn-container">
    <ion-button color="secondary" shape="round" size="default" class="ion-margin-auto">J'ai compris</ion-button>
  </ion-item>
</ion-content>
