ion-item {
    &:not(.btn-container):not(.bg-transparent) {
        --background: rgba(49, 131, 245, .05);
    }

    &.btn-container {
        --border-style: none;
        --border-width: 0px;
        --padding-top: 1rem;
        width: fit-content;
        margin: auto;
    }
}

ion-button {
    --background: #031E45;
}

ion-img {
    width: 192px;
    height: auto;
    margin: 70px auto 0;
}