<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="contact-item">
      <ion-icon aria-hidden="true" slot="start" name="chevron-back-outline" (click)="this.global.goBack()"></ion-icon>
      <ion-icon aria-hidden="true" size="large" slot="end" name="call-outline"></ion-icon>
      <ion-icon aria-hidden="true" size="large" slot="end" name="videocam-outline" class="ion-margin-start" *ngIf="global.userType === 'recruiter'"></ion-icon>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <strong>Nom prénom</strong><br />
        <span>Entreprise</span><br />
        <span>Vu il y a 58 minutes</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-grid class="form-input">
    <ion-row>
      <ion-col size="9">
        <ion-input labelPlacement="floating" label="Écrire..." class="new-text"></ion-input>
      </ion-col>      

      <ion-col size="1">
        <ion-button aria-label="Ajouter des fichiers" fill="clear" (click)="openFileDialog()">
          <ion-icon slot="end" name="attach-outline" aria-hidden="true"></ion-icon>
        </ion-button>
        <input 
          type="file" 
          name="upload-file" 
          id="upload-file" 
          multiple
          (change)="setImages($event)"
          aria-hidden="true" 
          aria-label="Liste des pièces jointes" />
      </ion-col>
      
      <ion-col size="1">
        <ion-button aria-label="Envoyer le message" fill="clear">
          <ion-icon slot="end" name="paper-plane-outline" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
