ion-item {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --border-color: transparent;

    font-size: 14px;
    
    &:nth-child(odd) {
        --background: rgba(49, 131, 245, 0.1);
    }
}

ion-thumbnail {
    --border-radius: 5rem;
}

.form-input {
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

ion-input {
    border-color: rgba(0, 0, 0, 0);
}

ion-button {
    --background: rgba(0,0,0,0)
}

ion-icon {
    color: #000;
}

img.selected {
    opacity: .5;
}

#upload-file {
    display: none;
}
  