ion-item {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-thumbnail {
    --border-radius: 5rem;
}

.form-input {
    --ion-grid-padding: 0;
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    // border-bottom: 1px solid gray;

}

ion-input {
    --border-color: #000;
}

img.selected {
    opacity: .5;
}

#upload-file {
    display: none;
}
  