<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nouveau message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-icon aria-hidden="true" name="call-outline" slot="end"></ion-icon>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>
        <span>Nom prénom</span><br />
        <span>Entreprise</span><br />
        <span>Vu il y a 58 minutes</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-input label="Ecrire..." fill="outline" class="new-text">
    <ion-button fill="clear" slot="end" aria-label="Show/hide">
      <ion-icon slot="end" name="attach-outline" aria-hidden="true"></ion-icon>
    </ion-button>
  </ion-input>
</ion-content>
