ion-item {
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-start: 15px;
    --padding-end: 15px;
    --border-style: none;

    &:nth-child(even) {
        --background: rgba(49, 131, 245, 0.05);
    }

    .title {
        font-size: 1.5em;
    }
}

ion-item-divider {
    --background: white;
}

ion-item-group {
    margin: 20px 0 50px 0;
}

ion-thumbnail {
    --border-radius: 3rem;
}