<ion-content [fullscreen]="true">
  <ion-item (click)="global.goBack()">
    <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
    <strong class="title">Notifications</strong>
  </ion-item>

  <ion-list>
    <!-- Today -->
    <ion-item-group>
      <ion-item-divider class="ion-margin-bottom">
        <ion-label>Aujourd'hui</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>
          <strong>Contenu de la notification</strong><br />
          <ion-label color="medium">Vu il y a 58 minutes</ion-label>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>
          <strong>Contenu de la notification</strong><br />
          <ion-label color="medium">Vu il y a 58 minutes</ion-label>
        </ion-label>
        <ion-icon src="../../../assets/icon/chat-plus.svg" slot="end" size="large" *ngIf="global.userType === 'recruiter'"></ion-icon>
      </ion-item>
    </ion-item-group>

    <!-- Last 7 days -->
    <ion-item-group>
      <ion-item-divider class="ion-margin-bottom">
        <ion-label>Les 7 derniers jours</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>
          <strong>Contenu de la notification</strong><br />
          <ion-label color="medium">Vu il y a 58 minutes</ion-label>
        </ion-label>
        <ion-icon src="../../../assets/icon/fire.svg" slot="end" size="large" *ngIf="global.userType === 'recruiter'"></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
