<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Previous" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau skill</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Video -->
  <div class="video-container">
    <video src="https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/1080/Big_Buck_Bunny_1080_10s_1MB.mp4"></video>
  </div>

  <ion-button class="back-btn" expand="full">
    <div class="ion-text-start previous" *ngIf="!newPost">
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      Récents
    </div>

    <div *ngIf="newPost" class="ion-text-center">
      Ajouter une description
    </div>
  </ion-button>

  <!-- Gallery -->
  <ion-grid class="gallery" *ngIf="!newPost">
    <ion-row>
      <ion-col size="4" *ngFor="let i of numbers">
        <img src="https://picsum.photos/seed/picsum/600/" alt="" (click)="togglePost()">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- New Post -->
    <ion-list *ngIf="newPost" class="post-form">
      <ion-item lines="none">
        <ion-select label="Catégorie d'emplois souhaitée (Domaine)" labelPlacement="floating" fill="outline" [multiple]="true">
          <ion-select-option *ngFor="let value of domains" [value]="value" [innerHtml]="value"></ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-select label="Type de contrat recherché" labelPlacement="floating" [multiple]="true">
          <ion-select-option value="">CDI</ion-select-option>
          <ion-select-option value="">CDD</ion-select-option>
          <ion-select-option value="">Alternance</ion-select-option>
          <ion-select-option value="">Stage</ion-select-option>
          <ion-select-option value="">Freelance</ion-select-option>
          <ion-select-option value="">Temps partiel</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item lines="none">
        <ion-input label="Localisation géographique" labelPlacement="floating"></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-select label="Compétences clés (Mots-clés)" labelPlacement="floating" [multiple]="true">
          <ion-select-option *ngFor="let value of keywords" [value]="value" [innerHtml]="value"></ion-select-option>
        </ion-select>
      </ion-item>

      <div class="buttons-form">
        <ion-button expand="block">Partager</ion-button> 
        <ion-button expand="block" fill="clear" (click)="togglePost()">Retour</ion-button> 
      </div>
    </ion-list>
</ion-content>
