.tuto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition-duration: .5s;

    &--visible {
        visibility: visible;
        opacity: 1;
    }
}

ion-button {
    width: max-content;
}