<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tutoriel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-start ion-padding-end">
    <p class="ion-text-end">
      <span>Passer</span>
    </p>

    <div *ngFor="let block of tutoBlocks" [class.tuto--visible]="block.visible" class="tuto ion-padding-start ion-padding-end" [attr.data-tuto-block]="block.id">
      <ion-img [src]="'../../../assets/images/tutorials/' + block.image" [alt]="block.title"></ion-img>
      <h1 class="ion-text-center" [innerHTML]="block.title"></h1>
      <p class="ion-text-center" [innerHTML]="block.desc"></p>
      <ion-button shape="round" color="secondary" (click)="goToTheNext()">Suivant</ion-button>
      <p class="ion-margin-top ion-padding-top">
        <span [innerHTML]="tutoPos + 1"></span> / <span [innerHTML]="tutoBlocks.length"></span>
      </p>
    </div>

    <figure>
      <ion-img src="../../../assets/images/logo-rekrut-full.png" class="logo-full"></ion-img>
    </figure>
  </div>
</ion-content>
