<ion-content [fullscreen]="true">
  <div class="ion-page" id="content-page">
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-item lines="none">
            <ion-icon
              slot="end"
              name="settings-outline"
              size="large"
              (click)="global.navigate('fr/parameters')"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Thumbnail -->
      <ion-row class="infos-profile ion-margin-start ion-margin-end">
        <ion-col size="12">
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img
                alt="Silhouette of mountains"
                src="https://img.freepik.com/photos-gratuite/portrait-jeune-etudiant-souriant_23-2148586534.jpg?t=st=1731748530~exp=1731752130~hmac=48f9f28903a4c61f692617dac28542f4e1bb40f6f87fdd4dc43bc44f61a1ea56&"
              />
            </ion-thumbnail>
            <ion-label>
              <strong>Nom prénom</strong><br />
              <span>Information que vous souhaiter mettre en avant</span>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Main numbers -->
      <ion-row
        class="main-data ion-margin-top ion-margin-end ion-margin-bottom ion-margin-start"
      >
        <ion-col>
          <span>Message</span>
          <span>139</span>
        </ion-col>
        <ion-col>
          <span>Like</span>
          <span>495</span>
        </ion-col>
        <ion-col>
          <span>Save</span>
          <span>156</span>
        </ion-col>
      </ion-row>

      <!-- Buttons -->
      <ion-row
        class="btn-list ion-margin-top ion-margin-end ion-margin-bottom ion-margin-start ion-justify-content-center"
      >
        <ion-col size="6">
          <ion-button
            (click)="global.navigate('/fr/profile/hobbies-update')"
            shape="round"
            expand="block"
            class="dark"
            >Modifier le profil</ion-button
          >
        </ion-col>
        <ion-col size="6">
          <ion-button
            shape="round"
            class="dark"
            expand="block"
            (click)="toggleShareLinksVisible()"
            >Partager le profil</ion-button
          >
        </ion-col>

        <ion-col
          size="12"
          *ngIf="isShareLinksVisible"
          class="ion-margin-top ion-margin-end ion-margin-bottom ion-margin-start"
        >
          <ion-row>
            <ion-col size="3">
              <ion-icon
                class="icon-share bg--grey"
                size="large"
                name="share-social-outline"
              ></ion-icon>
              <p class="ion-text-center">Partager</p>
            </ion-col>
            <ion-col size="3">
              <ion-icon
                class="icon-share bg--wsapp"
                size="large"
                name="logo-whatsapp"
              ></ion-icon>
              <p class="ion-text-center">WhatsApp</p>
            </ion-col>
            <ion-col size="3">
              <ion-icon
                class="icon-share bg--grey"
                size="large"
                name="link-outline"
              ></ion-icon>
              <p class="ion-text-center">Copier le lien</p>
            </ion-col>
            <ion-col size="3">
              <ion-icon
                class="icon-share bg--fb"
                size="large"
                name="logo-facebook"
              ></ion-icon>
              <p class="ion-text-center">Facebook</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Tab Bar -->
      <!-- Tab Bar -->
      <ion-row
        class="tabs-buttons ion-justify-content-around ion-margin-top ion-margin-bottom"
      >
        <ion-col size="auto">
          <ion-button
            fill="clear"
            (click)="goToSlide(0)"
            [ngClass]="{'active': activeSlideIndex === 0}"
          >
            <ion-icon
              src="../../../assets/icon/skills-grid.svg"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button
            fill="clear"
            (click)="goToSlide(1)"
            [ngClass]="{'active': activeSlideIndex === 1}"
          >
            <ion-icon
              name="play-circle-outline"
              *ngIf="global.userType === 'recruiter'"
              size="large"
            ></ion-icon>
            <ion-icon
              name="lock-closed-outline"
              *ngIf="global.userType === 'student'"
            ></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button
            fill="clear"
            (click)="goToSlide(2)"
            [ngClass]="{'active': activeSlideIndex === 2}"
          >
            <ion-icon name="bookmark-outline" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button
            fill="clear"
            (click)="goToSlide(3)"
            [ngClass]="{'active': activeSlideIndex === 3}"
          >
            <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Tab Content-->
      <ion-row>
        <ion-col size="12">
          <swiper-container #swiperRef slides-per-view="1" space-between="0">
            <swiper-slide>
              <app-tab-1></app-tab-1>
            </swiper-slide>
            <swiper-slide>
              <app-tab-2></app-tab-2>
            </swiper-slide>
            <swiper-slide>
              <app-tab-3></app-tab-3>
            </swiper-slide>
            <swiper-slide>
              <app-tab-4></app-tab-4>
            </swiper-slide>
          </swiper-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
