ion-thumbnail {
    --border-radius: 3rem;
    --size: 100px;
}

ion-list {
    width: 100%;
    border-bottom: 0;

    ion-item {
        --padding-start: 0px;
        --padding-end: 0px;
        --inner-padding-start: 0px;
        --inner-padding-end: 0px;
    }
}

.btn-list {
    ion-button {
        font-size: 1em;
    }
}

.main-data {
    ion-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span {
        display: block;
        font-weight: 500;
        color: rgba($color: #000000, $alpha: .47);
    }
}

.infos-profile {
    align-items: center;

    ion-col {
        --padding-start: 0px;
        --padding-end: 0px;
    }

    ion-item {
        --padding-start: 15px;
        --padding-end: 15px;
        --border-style: none;
    }
}

.title {
    ion-item {
        // --padding-top: 15px;
        --padding-bottom: 15px;
        --padding-start: 0px;
        --border-style: none;
    }
}

.tab {
    visibility: hidden;
    opacity: 0;
    transition-duration: .2s;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.tabs-buttons {
    width: 100%;
    border-bottom: 1px solid grey;

    ion-button {
        color: #000000;
        opacity: .5;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0);
        transition-duration: .5s;
        margin-bottom: 0;

        &.active {
            opacity: 1;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 1);
        }
    }

    ion-icon {
        font-size: 2rem;
    }
}

.camera {
    display: block;
}

.icon-share {
    margin: auto;
    display: block;
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 2rem;

    &.bg {
        &--grey {
            background-color: #EEEEEF;
        }

        &--fb {
            background-color: #1979F3;
            color: white;
        }

        &--wsapp {
            background-color: #26D267;
            color: white;
        }
    }
}