<ion-content [fullscreen]="true">
  <ion-menu contentId="content-page">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-menu-toggle>
          <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        </ion-menu-toggle>
        <ion-title>Paramètres</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-item
          lines="none"
          (click)="this.global.navigate('/home/profile/update')"
        >
          <ion-menu-toggle class="ion-padding-vertical">
            <ion-label class="ion-padding-bottom"
              ><strong>Modifier mes informations</strong></ion-label
            >
            <ion-list class="ion-no-padding">
              <ion-item>
                <ion-label>Paramètres de l'application</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Partenaires</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Modifier mes informations</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Personnaliser l'IA</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Messagerie</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Abonnements</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Politique confidentialité</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>A propos</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Déconnexion</ion-label>
              </ion-item>
            </ion-list>
          </ion-menu-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="content-page">
    <ion-grid>
      <!-- Thumbnail -->
      <ion-row class="infos-profile">
        <ion-col size="10">
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img
                alt="Silhouette of mountains"
                src="https://img.freepik.com/photos-gratuite/portrait-jeune-etudiant-souriant_23-2148586534.jpg?t=st=1731748530~exp=1731752130~hmac=48f9f28903a4c61f692617dac28542f4e1bb40f6f87fdd4dc43bc44f61a1ea56&"
              />
            </ion-thumbnail>
            <ion-label>
              <strong>Nom prénom</strong><br />
              <span>Information que vous souhaiter mettre en avant</span>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="2">
          <ion-item>
            <ion-menu-toggle slot="end">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-menu-toggle>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Main numbers -->
      <ion-row class="main-data">
        <ion-col>
          <span>Message</span>
          <span>139</span>
        </ion-col>
        <ion-col>
          <span>Like</span>
          <span>495</span>
        </ion-col>
        <ion-col>
          <span>Save</span>
          <span>156</span>
        </ion-col>
      </ion-row>

      <!-- Buttons -->
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label><strong>Tableau de bord</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-button
            (click)="global.navigate('/fr/profile/hobbies-update')"
            shape="round"
            class="secondary"
            expand="block"
            >Modifier le profil</ion-button
          >
        </ion-col>
        <ion-col size="6">
          <ion-button shape="round" class="secondary" expand="block"
            >Partager le profil</ion-button
          >
        </ion-col>
      </ion-row>

      <!-- Tab Bar -->
      <ion-row
        class="tabs-buttons ion-justify-content-around"
      >
        <ion-col size="auto">
          <ion-button fill="clear" (click)="this.changeTab('tab-1')">
            <ion-icon
              src="../../../assets/icon/skills-grid.svg"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" (click)="this.changeTab('tab-2')">
            <ion-icon
              name="lock-closed-outline"
              color="#000000"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" (click)="this.changeTab('tab-3')">
            <ion-icon
              name="bookmark-outline"
              color="#000000"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" (click)="this.changeTab('tab-4')">
            <ion-icon
              name="heart-outline"
              color="#000000"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      
      <!-- Tab Content-->
      <ion-row>
        <ion-col id="tab-1" class="tab active" size="12">
          <app-tab-1></app-tab-1>
        </ion-col>
        <ion-col id="tab-2" class="tab" size="12">
          <app-tab-2></app-tab-2>
        </ion-col>
        <ion-col id="tab-3" class="tab" size="12">
          <app-tab-3></app-tab-3>
        </ion-col>
        <ion-col id="tab-4" class="tab" size="12">
          <app-tab-4></app-tab-4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
