<ion-grid class="videos">
  <ion-row class="videos-list">
    <ion-col size="4">
      <ion-img src="https://img.freepik.com/photos-gratuite/portrait-jeune-etudiant-souriant_23-2148586534.jpg?t=st=1731748530~exp=1731752130~hmac=48f9f28903a4c61f692617dac28542f4e1bb40f6f87fdd4dc43bc44f61a1ea56&"></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img src="https://img.freepik.com/photos-gratuite/portrait-jeune-etudiant-souriant_23-2148586534.jpg?t=st=1731748530~exp=1731752130~hmac=48f9f28903a4c61f692617dac28542f4e1bb40f6f87fdd4dc43bc44f61a1ea56&"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>