<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>S'inscrire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid id="select-user" class="block">
    <ion-row>
      <ion-col size="12">
        <ion-img
          class="logo-big"
          alt="Icon Rekrut"
          src="../../../assets/images/logo-rekrut.png"
        ></ion-img>
      </ion-col>
      <ion-col size="12">
        <p><strong>Créer un compte</strong></p>
        <ion-button
          expand="block"
          fill="outline"
          (click)="toggleBlock('form-1', 'student')"
        >
          <ion-icon
            slot="start"
            src="../../../assets/icon/new-student.svg"
          ></ion-icon>
          Etudiant
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button
          expand="block"
          fill="outline"
          (click)="toggleBlock('form-1', 'recruter')"
        >
          <ion-icon
            slot="start"
            src="../../../assets/icon/new-recruter.svg"
          ></ion-icon>
          Recruteur
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <p class="ion-text-center">
          <strong>Se connecter à un compte existant</strong>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="form-1" class="block ion-hide">
    <ion-row>
      <ion-col size="12">
        <ion-img
          class="logo-big"
          alt="Icon Rekrut"
          src="../../../assets/images/logo-rekrut.png"
        ></ion-img>
      </ion-col>

      <ion-col size="12" *ngIf="userType === 'student'">
        <div class="ion-margin-bottom">
          <label class="ion-margin-bottom" for="ion-input-0"
            ><strong>Nom d'utilisateur</strong></label
          >
          <ion-input
            aria-label="Téléphone"
            type="text"
            placeholder="Nom d'utilisateur"
          ></ion-input>
        </div>

        <div class="ion-margin-bottom">
          <label class="ion-margin-bottom" for="ion-input-1"
            ><strong>Adresse mail</strong></label
          >
          <ion-input
            aria-label="Adresse E-Mail"
            type="mail"
            placeholder="Mail"
          ></ion-input>
        </div>

        <p>
          J'ai déjà un compte ?
          <a>Connexion</a>
        </p>

        <ion-button
          (click)="toggleBlock('form-2')"
          color="secondary"
          shape="round"
          expand="block"
          class="btn--center btn--margin-top"
          >Continuer</ion-button
        >
      </ion-col>

      <ion-col size="12" *ngIf="userType === 'recruter'">
        <div class="ion-margin-bottom">
          <label class="ion-margin-bottom" for="ion-input-0"
            ><strong>Numéro de téléphone</strong></label
          >
          <ion-input
            aria-label="Téléphone"
            type="tel"
            placeholder="Numéro de téléphone"
          ></ion-input>
        </div>

        <div class="ion-margin-bottom">
          <label class="ion-margin-bottom" for="ion-input-1"
            ><strong>Adresse mail</strong></label
          >
          <ion-input
            aria-label="Adresse E-Mail"
            type="mail"
            placeholder="Mail"
          ></ion-input>
        </div>

        <p>
          J'ai déjà un compte ?
          <a>Connexion</a>
        </p>

        <ion-button
          (click)="toggleBlock('form-2')"
          color="secondary"
          shape="round"
          expand="block"
          class="btn--center btn--margin-top"
          >Continuer</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="form-2" class="block ion-hide">
    <ion-row>
      <ion-col size="12">
        <ion-img
          alt="Logo Rekrut"
          src="../../../assets/images/logo-rekrut.png"
        ></ion-img>
      </ion-col>
      <ion-col size="12">
        <p><strong>Création de votre mot de passe</strong></p>
      </ion-col>
      <ion-col size="12">
        <ion-input
          aria-label="Mot de passe"
          placeholder="Mot de passe"
          type="password"
          fill="outline"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>

        <ion-input
          aria-label="Confirmer le mot de passe"
          placeholder="Confirmer le mot de passe"
          type="password"
          fill="outline"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>

        <ion-button
          color="secondary"
          shape="round"
          expand="block"
          class="btn--center btn--margin-top"
          >Continuer</ion-button
        >
      </ion-col>
      <ion-col size="12">
        <p>
          J'ai déjà un compte ?
          <a>Connexion</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-img
    class="logo-bottom"
    src="../../../assets/images/logo-rekrut-full.png"
  ></ion-img>

  <ion-icon class="icon-help" icon="../../../assets/icon/help.svg"></ion-icon>
</ion-content>
