<ion-content [fullscreen]="true">
  <ion-item lines="none" class="ion-padding-top ion-padding-bottom title">
    <strong *ngIf="global.userType === 'student'">Votre profil, Votre ADN Professionnel</strong>
    <strong *ngIf="global.userType === 'recruiter'">Vos centres d'interêts recherchés</strong>
  </ion-item>

  <ion-list>
    <div class="content-input">
      <ion-item lines="none">
        <ion-select label="Soft Skills" labelPlacement="floating" multiple>
          <ion-select-option *ngFor="let skill of softSkills" [value]="skill">{{skill}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="content-input">
      <ion-item lines="none">
        <ion-select label="Style de travail" labelPlacement="floating" multiple>
          <ion-select-option *ngFor="let style of workStyleSkills" [value]="style">{{style}}</ion-select-option>
        </ion-select>
      </ion-item>    
    </div>
    
    <div class="content-input">
      <ion-item lines="none">
        <ion-select label="Vos valeurs" labelPlacement="floating" multiple>
          <ion-select-option *ngFor="let value of valuesSkills" [value]='value' [innerHTML]="value"></ion-select-option>
        </ion-select>
      </ion-item>  
    </div>
    
    <ion-item lines="none" class="ion-margin-top" *ngIf="global.userType === 'student'">
      <ion-checkbox labelPlacement="end">Je certifie que ces informations sont justes et que je peux les prouver lors d'un entretien.</ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-button class="dark" size="default" shape="round" (click)="this.goToHome()">Sauvegarder</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
