<ion-content [fullscreen]="true">
  <ion-item lines="none" class="ion-padding-top ion-padding-bottom title">
    <strong>Vos centres d'interêts</strong>
  </ion-item>

  <ion-list>
    <ion-item lines="none">
      <ion-select label="Sport" labelPlacement="floating">
        <ion-select-option></ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-select label="Association" labelPlacement="floating">
        <ion-select-option></ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-select label="Hobby" labelPlacement="floating">
        <ion-select-option></ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-select label="Vos valeurs" labelPlacement="floating">
        <ion-select-option></ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none" class="ion-margin-top">
      <ion-checkbox labelPlacement="end">Je certifie que ces informations sont justes et que je peux les prouver lors d'un entretien.</ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-button color="secondary" size="default" shape="round">Sauvegarder</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
