<ion-content [fullscreen]="true">
  <ion-item lines="none" class="ion-padding-top ion-padding-bottom title">
    <strong *ngIf="global.userType === 'student'">Vos centres d'interêts</strong>
    <strong *ngIf="global.userType === 'recruiter'">Vos centres d'interêts recherchés</strong>
  </ion-item>

  <ion-list>
    <div class="content-input">
      <ion-item lines="none">
        <ion-select label="Sport" labelPlacement="floating">
          <ion-select-option></ion-select-option>
        </ion-select>
      </ion-item>
      <p class="ion-padding-start ">
        <ion-icon name="add-outline" slot="start" color="primary"></ion-icon>
        <span class="add-link">Ajouter un sport</span>
      </p>  
    </div>

    <div class="content-input">
      <ion-item lines="none">
        <ion-select label="Association" labelPlacement="floating">
          <ion-select-option></ion-select-option>
        </ion-select>
      </ion-item>  
      <p class="ion-padding-start">
        <ion-icon name="add-outline" slot="start" color="primary"></ion-icon>
        <span class="add-link">Ajouter une association</span>
      </p>  
    </div>

    <div class="content-input">
      <ion-item lines="none">
        <ion-select label="Hobby" labelPlacement="floating">
          <ion-select-option></ion-select-option>
        </ion-select>
      </ion-item>  
      <p class="ion-padding-start">
        <ion-icon name="add-outline" slot="start" color="primary"></ion-icon>
        <span class="add-link">Ajouter un hobby</span>
      </p>  
    </div>
    
    <div class="content-input">
      <ion-item lines="none">
        <ion-select label="Vos valeurs" labelPlacement="floating">
          <ion-select-option></ion-select-option>
        </ion-select>
      </ion-item>  
      <p class="ion-padding-start">
        <ion-icon name="add-outline" slot="start" color="primary"></ion-icon>
        <span class="add-link">Ajouter une valeur (3 maximum)</span>
      </p>
    </div>
    
    <ion-item lines="none" class="ion-margin-top" *ngIf="global.userType === 'student'">
      <ion-checkbox labelPlacement="end">Je certifie que ces informations sont justes et que je peux les prouver lors d'un entretien.</ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-button color="secondary" size="default" shape="round" (click)="this.goToHome()">Sauvegarder</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
