.nav {
    position: absolute;
    z-index: 2;

    &--top {
        top: 20px;
    }

    &--right {
        right: 20px;
    }

    &--bottom {
        bottom: 20px;
    }

    &--left {
        left: 20px;
    }
}

.last-notif {
    width: calc(100% - 100px);

    ion-label {
        line-height: 1.5em;
        font-family: 'Montserrat';
    }
    
    ion-item {
        --color: #fff;
        --background: rgba($color: #000000, $alpha: 0);
        --border-style: none;
    }

    ion-thumbnail {
        --border-radius: 3rem;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.icons-list {
    gap: 20px;  /* Espacement entre les icônes */
}

.icon-container {
    color: white;
}

.profile {
    margin: 0;

    img {
        width: 42px;
        height: 42px;
        margin-bottom: 10px;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;    
    }
}

ion-icon {
    color: #ffffff; /* Couleur des icônes */
    border-radius: 4rem;
    padding: .5rem;

    &.liked {
        color: #EA1714;
    }

    &.saved {
        color: #4F7FCF;
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

swiper-container {
    height: 100%;
}

.video-card {
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    transition: transform 0.3s ease, opacity 0.3s ease;
    touch-action: none;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
