<ion-content [fullscreen]="true">
  <div class="video-container">
    <!-- Alerte -->
    <div class="nav nav--secondary nav--top nav--right">
      <ion-grid>
        <ion-row class="ion-justify-content-end">
          <ion-col size="9" *ngIf="this.global.userType === 'recruiter'">
            <div lines="none" class="ion-justify-content-end ion-align-items-center nav--recruiter">
              <span>Demande</span>
              <span>Pour vous</span>
            </div>
          </ion-col>
          <ion-col size="1" class="icon-container">
            <ion-icon
              name="notifications"
              (click)="global.navigate('fr/notifications')"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="nav nav--top nav--left">
      <ion-icon name="help" size="default" class="help-btn" (click)="global.navigate('fr/tutorial')"></ion-icon>
    </div>

    <!-- Dernières notifs -->
    <div class="last-notif nav nav--bottom nav--left nav--left--f">
      <ion-item>
        <ion-label>
          <strong>Titre</strong><br />
          <span>Sous-titre</span>
        </ion-label>
      </ion-item>
    </div>

    <!-- Cards (Vidéo Swipe) -->
    <swiper-container
      [loop]="true"
      [freeMode]="true"
      style="margin-bottom: 40px"
      direction="vertical"
    >
      <swiper-slide
        *ngFor="let video of videos; let i = index"
        class="video-card ion-justify-content-center ion-align-items-center"
        [id]="'video-' + video.id"
      >
        <video
          [src]="video.url"
          autoplay
          muted
          loop
          *ngIf="video.available"
        ></video>

        <ion-img
          *ngIf="!video.available && global.userType === 'recruiter'"
          src="'../../../../../assets/images/cv-example.jpg"
        ></ion-img>
        <div
          *ngIf="!video.available && global.userType === 'recruiter'"
          class="bg-notif bg-notif--bottom"
        ></div>

        <div
          *ngIf="!video.available && global.userType === 'recruiter'"
          class="bg-notif bg-notif--top"
        ></div>

        <div class="icons-list column nav nav--bottom nav--right--f">
          <!-- Profile -->
          <figure
            class="profile icon-container column"
            (click)="this.global.userType === 'student' ? this.global.navigate('/fr/entreprises/infos') : this.global.navigate('/fr/student')"
          >
            <img
              src="https://www.herbeumont.be/macommune/vie-politique/conseil-communal/img/no-profile-image-png.png"
              alt=""
            />
          </figure>

          <!-- Like -->
          <div class="icon-container column">
            <ion-icon
              name="heart"
              [ngClass]="{'liked': video.isLiked}"
              (click)="toggleLike(i)"
            >
            </ion-icon>
            <strong class="ion-text-center">100</strong>
          </div>

          <!-- Send -->
          <div class="icon-container column">
            <ion-icon
              name="paper-plane"
              (click)="this.global.navigate('/fr/messagerie/contact')"
            ></ion-icon>
            <strong class="ion-text-center">100</strong>
          </div>

          <!-- Bookmark -->
          <div class="icon-container column">
            <ion-icon
              name="bookmark"
              [ngClass]="{'saved': video.isSaved}"
              (click)="toggleSave(i)"
            ></ion-icon>
            <strong class="ion-text-center">100</strong>
          </div>

          <!-- See more -->
          <div class="icon-container column">
            <ion-icon name="document-text" (click)="toggleDescPost(video.id)"></ion-icon>
          </div>
        </div>

        <ion-alert
          trigger="fiche-{{i}}"
          header="Nom de l'entreprise {{i}}"
          subHeader="Sous-titre optionnel"
          message="Contenu."
          [buttons]="alertButtons"
        ></ion-alert>

        <ion-alert
          [isOpen]="video.isDescPostOpen"
          trigger="fiche-{{i}}"
          header="Nom de la description"
          message="Contenu..."
          (didDismiss)="toggleDescPost(i)"
          [buttons]="cvButtons"
        ></ion-alert>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
