.last-notif {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;

    ion-label {
        line-height: 1.5em;
        font-family: 'Montserrat';
    }
    
    ion-item {
        --color: #fff;
        --background: rgba($color: #000000, $alpha: 0);
        --border-style: none;
    }

    ion-thumbnail {
        --border-radius: 3rem;
    }
}

.icons-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;  /* Espacement entre les icônes */
    right: 20px;  /* Distance du bord droit */
}

.icon-container {
    display: flex;
    flex-direction: column;
    color: white;
}

.profile {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    overflow: hidden;
    margin: 0;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.pos-top {
    top: 20px; /* Position en haut */
}

.pos-bottom {
    bottom: 20px; /* Position en bas */
}

ion-icon {
    color: #ffffff; /* Couleur des icônes */
    border-radius: 4rem;
    padding: .5rem;

    &.liked {
        color: #EA1714;
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

swiper-container {
    height: 100%;
}

.video-card {
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    touch-action: none;
}

.video-card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
