<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">update</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input label="Prénom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Age"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Téléphone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Adresse E-Mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select label="Statut">
      <ion-select-option></ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-checkbox labelPlacement="end">En m’inscrivant, j’accepte les conditions générales d’utilisation.</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-button>Sauvegarder</ion-button>
  </ion-item>
</ion-content>
