.videos {
    --ion-grid-padding: 0;
    width: 100%;

    &-list {
        ion-col {
            --ion-grid-column-padding: 0;
            aspect-ratio: 149/201;

            &.add {
                background-color: rgba($color: #7E7878, $alpha: .19);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.camera {
    display: flex;
    margin: auto;
    width: 71px;
    height: 71px;
    border: 2px solid black;
    border-radius: 6rem;
    margin-bottom: 30px;
}

ion-list {
    ion-item {
        &:nth-child(odd) {
            --background: rgba(49, 131, 245, 0.05);
        }
    }
}

.content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #D8E4F8;
    border-radius: 12px;
    margin: 1rem 0;
}

.icon-add {
    margin: 33px auto 0;
    display: block;
    width: 42px;
    height: 42px;
}

.btn-add-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}