<ion-grid class="videos" *ngIf="global.userType === 'student'">
  <ion-row class="ion-text-center" *ngIf="videosLength <= 0">
    <ion-col>
      <ion-label class="camera">
        <ion-icon name="camera-outline" size="large"></ion-icon>
      </ion-label>
      <ion-label> <strong>Partager votre Skill</strong> </ion-label><br />
      <ion-label>Pour que les recuteurs puissent vous remarquer</ion-label
      ><br />
      <ion-label
        color="primary"
        (click)="this.global.navigate('fr/skills-params')"
      >
        <strong>Uploader votre video skill</strong>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="videos-list" *ngIf="videosLength > 0">
    <ion-col size="4"></ion-col>
    <ion-col
      size="4"
      class="add"
      (click)="this.global.navigate('fr/skills-params')"
    >
      <ion-icon name="add-circle-outline" size="large"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-list *ngIf="global.userType === 'recruiter' && videosLength > 0">
  <ion-item lines="none">
    <div
      class="content-item ion-padding-top ion-padding-bottom ion-padding-start ion-padding-end"
    >
      <ion-label>
        <strong>Nom du poste</strong><br />
        <span> Lieu : <span>Paris</span> </span><br />
        <span>Salaire : 35000 € / an</span>
      </ion-label>
      <ion-button
        fill="outline"
        size="small"
        shape="round"
        class="apply"
        (click)="this.global.navigate('fr/offre')"
        >Postuler</ion-button
      >
    </div>
  </ion-item>

  <ion-icon
    src=" ../../../../../../../assets/icon/en-savoir-plus.svg"
    class="icon-add"
    size="large"
    (click)="global.navigate('fr/skills-params')"
  ></ion-icon>
</ion-list>

<div *ngIf="global.userType === 'recruiter' && videosLength === 0">
  <p class="ion-text-center">
    <strong>Partager la présentation de vos postes</strong><br>
    <span>Pour que les candidats puissent postuler</span>
  </p>
  <p class="ion-text-center">
    <a (click)="global.navigate('fr/skills-params')">
      <strong>Créer votre annonce</strong>
    </a>
  </p>
</div>