<ion-content [fullscreen]="true">
  <ion-item class="ion-padding-start ion-padding-end">
    <ion-thumbnail slot="start">
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
    </ion-thumbnail>
    <ion-label class="fiche-label" slot="end">
      <strong class="title">Nom de l'entreprise</strong><br />
      <span class="subtitle"
        >Information que vous souhaiter mettre en avant</span
      >
    </ion-label>
  </ion-item>

  <ion-grid class="main-data">
    <ion-row>
      <ion-col>
        <span>Messages</span>
        <span>139</span>
      </ion-col>
      <ion-col>
        <span>Like</span>
        <span>495</span>
      </ion-col>
      <ion-col>
        <span>Save</span>
        <span>156</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p class="ion-no-margin"><strong>Tableau de bord :</strong></p>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block">Contacter</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="toggleShareLinksVisible()">Partager le profil</ion-button>
      </ion-col>

      <ion-col size="12" *ngIf="isShareLinksVisible" class="ion-margin-top">
        <ion-row>
          <ion-col size="3">
            <ion-icon class="icon-share bg--grey" size="large" name="share-social-outline"></ion-icon>
            <p class="ion-text-center">Partager</p>
          </ion-col>
          <ion-col size="3">
            <ion-icon class="icon-share bg--wsapp" size="large" name="logo-whatsapp"></ion-icon>
            <p class="ion-text-center">WhatsApp</p>
          </ion-col>
          <ion-col size="3">
            <ion-icon class="icon-share bg--grey" size="large" name="link-outline"></ion-icon>
            <p class="ion-text-center">Copier le lien</p>
          </ion-col>
          <ion-col size="3">
            <ion-icon class="icon-share bg--fb" size="large" name="logo-facebook"></ion-icon>
            <p class="ion-text-center">Facebook</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="actions">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon
          name="grid-outline"
          (click)="global.navigate('fr/offres')"
        ></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <div
        class="content-item ion-padding-top ion-padding-bottom ion-padding-start ion-padding-end"
      >
        <ion-label>
          <strong>Nom du poste</strong><br />
          <span> Lieu : <span>Paris</span> </span><br />
          <span>Salaire : 35000 € / an</span>
        </ion-label>
        <ion-button
          fill="outline"
          size="small"
          shape="round"
          class="apply"
          (click)="this.global.navigate('fr/offre')"
          >Postuler</ion-button
        >
      </div>
    </ion-item>
  </ion-list>
</ion-content>
