ion-thumbnail {
    --border-radius: 10rem;
    --size: 100px;
    border: 2px solid #D8EDEE;
}

ion-item {
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-start: 15px;
    --padding-end: 15px;
    --border-style: none;
}

ion-icon {
    &[name=settings] {
        margin-left: auto;
    }
}

ion-button {
    &.apply {
        --background: #3183f500;
        --color: #6A8DAC;
        --border-width: 2px;
        --border-color: #6A8DAC;
        --padding-start: 10px;
        --padding-end: 10px;
    }
}

.settings {
    display: flex;
    align-items: end;
}

.fiche-label {
    font-size: 14px;
    margin-left: 0;
    padding-right: 0px;
}

.main-data {
    span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
    }
}

.actions {
    font-size: 40px;

}

.btn-tab {
    opacity: .5;
    transition-duration: .5s;

    &.active {
        opacity: 1;
    }
}

.icon-share {
    margin: auto;
    display: block;
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 2rem;

    &.bg {
        &--grey {
            background-color: #EEEEEF;
        }

        &--fb {
            background-color: #1979F3;
            color: white;
        }

        &--wsapp {
            background-color: #26D267;
            color: white;
        }
    }
}