ion-thumbnail {
    --border-radius: 10rem;
    border: 2px solid #D8EDEE;
    width: 100px;
    height: 100px;
}

ion-item {
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-start: 15px;
    --padding-end: 15px;
    --border-style: none;

    ion-icon {
        margin-right: 15px;
    }
}

.fiche-label {
    font-size: 14px;
    margin-left: 0;
    padding-right: 0px;
}

.title-label {
    --padding-top: 10px;
    --padding-bottom: 0px;
    --border-style: none;
    font-weight: bold;
}

ion-list {
    padding: 20px 0;
    ion-item {
        &:nth-child(odd) {
            --background: rgba(49, 131, 245, 0.05);
        }
    }
}