<ion-content [fullscreen]="true">
  <ion-item class="ion-padding-start ion-padding-end">
    <ion-thumbnail slot="start">
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
    </ion-thumbnail>
    <ion-label class="fiche-label" slot="end">
      <strong class="title">Nom de l'entreprise</strong><br />
      <span class="subtitle"
        >Information que vous souhaiter mettre en avant</span
      >
    </ion-label>
  </ion-item>

  <ion-grid class="main-data">
    <ion-row>
      <ion-col>
        <span>Messages</span>
        <span>139</span>
      </ion-col>
      <ion-col>
        <span>Like</span>
        <span>495</span>
      </ion-col>
      <ion-col>
        <span>Save</span>
        <span>156</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="dark" shape="round"
          >Contacter</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button
          expand="block"
          class="dark"
          shape="round"
          (click)="toggleShareLinksVisible()"
          >Partager le profil</ion-button
        >
      </ion-col>
      <ion-col size="12" *ngIf="isShareLinksVisible" class="ion-margin-top">
        <ion-row>
          <ion-col size="3">
            <ion-icon
              class="icon-share bg--grey"
              size="large"
              name="share-social-outline"
            ></ion-icon>
            <p class="ion-text-center">Partager</p>
          </ion-col>
          <ion-col size="3">
            <ion-icon
              class="icon-share bg--wsapp"
              size="large"
              name="logo-whatsapp"
            ></ion-icon>
            <p class="ion-text-center">WhatsApp</p>
          </ion-col>
          <ion-col size="3">
            <ion-icon
              class="icon-share bg--grey"
              size="large"
              name="link-outline"
            ></ion-icon>
            <p class="ion-text-center">Copier le lien</p>
          </ion-col>
          <ion-col size="3">
            <ion-icon
              class="icon-share bg--fb"
              size="large"
              name="logo-facebook"
            ></ion-icon>
            <p class="ion-text-center">Facebook</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="actions">
    <ion-row class="actions--btns">
      <ion-col
        class="ion-text-center btn-tab ion-padding-bottom"
        (click)="goToSlide(0)"
        [ngClass]="{'active': activeSlideIndex === 0}"
      >
        <ion-icon name="grid-outline"></ion-icon>
      </ion-col>
      <ion-col
        class="ion-text-center btn-tab ion-padding-bottom"
        (click)="goToSlide(2)"
        [ngClass]="{'active': activeSlideIndex === 2}"
      >
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <swiper-container #swiperRef slides-per-view="1" space-between="0">
          <swiper-slide>
            <app-tab-offers></app-tab-offers>
          </swiper-slide>
          <swiper-slide>
            <app-tab-videos></app-tab-videos>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
