<ion-list>
  <ion-item lines="none">
    <div
      class="content-item ion-padding-top ion-padding-bottom ion-padding-start ion-padding-end"
    >
      <ion-label>
        <strong>Nom du poste</strong><br />
        <span> Lieu : <span>Paris</span> </span><br />
        <span>Salaire : 35000 € / an</span>
      </ion-label>
      <ion-button
        fill="outline"
        size="small"
        shape="round"
        class="apply"
        (click)="this.global.navigate('fr/skills-recap')"
        >Voir</ion-button
      >
    </div>
  </ion-item>
</ion-list>